*.class
*.log
*.ctxt
*.jar
*.iml
hs_err_pid*

**/build/
!src/**/build/
out/
.gradle

!gradle-wrapper.jar
gradle-app.setting
.gradletasknamecache
.project
.classpath

.idea/
.idea/sonarlint/
.idea/**/gradle.xml
.idea/**/libraries
.idea/compiler.xml
.idea/sonarlint/*
